@tailwind base;
@tailwind components;
@tailwind utilities;

/* for rem size adapt */
/* base size: 1080P/16px */
html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

/* for mobile: 600px/15px */
@media screen and (max-width: 600px) {
  html {
    font-size: 15px;
  }
}

/* for 2KPC: 1300px/18px */
@media screen and (min-width: 1300px) {
  html {
    font-size: 18px;
  }
}

/* for 4KPC: 2400px/22px */
@media screen and (min-width: 2400px) {
  html {
    font-size: 22px;
  }
}

a {
  @apply underline;
}

h1,
.h1 {
  font-size: 52px;
  margin-top: 34.84px;
  margin-bottom: 34.84px;
  font-weight: bold;
}

h2,
.h2 {
  font-size: 31.2px;
  margin-top: 25.896px;
  margin-bottom: 25.896px;
  font-weight: bold;
}

h3,
.h3 {
  font-size: 24.336px;
  margin-top: 24.336px;
  margin-bottom: 24.336px;
  font-weight: bold;
}

h4,
.h4 {
  font-size: 20.8px;
  margin-top: 27.664px;
  margin-bottom: 27.664px;
  font-weight: bold;
}

p {
  font-size: 1em;
}

hr {
  width: 100%;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAECAYAAACzzX7wAAAAG0lEQVQImWNgYGD4j4QZsPBRBLBhnDpRFODEAM4KG+VVi8FlAAAAAElFTkSuQmCC) repeat;
  border: none;
}

body {
  margin: 0;
  font-family: monospace;
}

.bg-defined {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAE0lEQVQYlWNgYGD4zzD4AL3dBABzowH/4Cwn/gAAAABJRU5ErkJggg==) repeat;
  color: Black;
}

#header {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAACCAYAAABllJ3tAAAAGUlEQVQImWNgYGD4z4AK0Pk4Jf4zMDAwAACFvAP9WQrWlwAAAABJRU5ErkJggg==) repeat;

  &:after {
    position: absolute;
    right: 0px;
    top: 10px;
    content: '';
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAaCAYAAABctMd+AAAApElEQVRIS+1V0RKAIAjL///oEs88JAbaSQ+dPgptMAelwzhnPlacYikflAMDBGx81/CIHxF8C86lGK38bkN20FUupeCScyLrnhPEgyMp3lTOJUqWFJ4NZVxK9yPwWSlQfhmu0UmcJY0Hp4rCrMjb1WxJEzd737y+wevbdbvdXVxb8+L3x2ZbZUVloMqbIFKUr/rcWEJqR96+gX//keFaAu61j0guuLNJElIufMoAAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    pointer-events: none;
    width: 48px;
    height: 48px;
    overflow: hidden;
  }
}

#nav-menu {
  .menu-item {
    font-size: 1.2em;
  }

  .menu-link,
  .menu-more {
    text-decoration: none;
    transition: border-bottom-color .2s ease-in;
    border: 2px solid transparent;

    &:hover {
      border-bottom-color: black;
    }
  }

  > li {
    display: inline-block;
    margin-right: 1.5em;
    margin-bottom: 0.2em;
    margin-top: 0.2em;

    > a {
      color: black;
      font-weight: bold;
      background-color: white
    }
  }
}

#body {
  padding: 10px 5% 20px 5%;
}

.page-navigator {
  display: flex;
  gap: 4px;
  justify-content: left;

  li:not(.prev,.next) > a {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.post {
  ol {
    list-style-type: decimal;
    padding-left: 2rem;
  }

  ul {
    list-style-type: disc;
    padding-left: 2rem;
  }

  &-title {
    font-size: 2em;
  }
}

.post a,
.page-navigator a,
.post-near a {
  text-decoration: underline;
  text-decoration-color: black;

  &:hover {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAECAYAAACzzX7wAAAAFklEQVQImWNgYGD4z4AK0PnEA/JMAgBLRwP94stzWwAAAABJRU5ErkJggg==) repeat;
    color: black;
  }
}

@mixin my($m: 12px) {
  margin-top: $m;
  margin-bottom: $m;
}

@mixin py($p: 12px) {
  padding-top: $p;
  padding-bottom: $p;
}

.post-tags {
  @include my(16px);
  @include py(8px);
  border-top: 1px dotted;
  font-size: .9rem;
  color: #9ca3af;
}

pre {
  border: 1px dotted;
  padding: 12px;
  @include my;

  > code {
    font-size: 12px;
    white-space: pre-wrap;
    line-height: 18px;
    display: block;
  }
}

#textarea {
  padding-bottom: 32px;
  border: 1px dotted;
  width: 100%;
  @include my;
}

#comment-toolbar {
  height: 32px;
  position: relative;
  top: -50px;
  display: flex;
  justify-content: right;
  padding: 4px;
}

.comment {
  &-list {
    list-style: none;
    padding-left: 0;
  }

  &-author {
    margin-left: 40px;
    position: relative;
    display: flex;

    > span[itemprop="image"] {
      display: flex;
      left: -40px;
      position: absolute;
      top: 8px;
    }

    .fn {
      font-style: normal;
      font-weight: bold;
      font-size: 1rem;
    }
  }

  &-meta {
    font-size: .75rem;
    margin-left: 40px;
    color: #222;
  }

  &-body {
    position: relative;
  }
}

.comment-reply,
.cancel-comment-reply {
  position: absolute;
  right: 0;
  top: 0;

  > a {
    display: inline-block;
    background: #333;
    color: #fff;
    border-radius: 9999px;
    padding: 2px 8px;
    font-size: .75rem;
    text-decoration: none;
  }
}

.comment-submit {
  display: inline-block;
  background: #333;
  color: #fff;
  border-radius: 9999px;
  padding: 2px 8px;
  font-size: .75rem;
  text-decoration: none;
}

#response {
  @include my(16px);
}

#footer {
  padding: 0 5% 10px 5%;
}
